main {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 100px;
	padding-right: 100px;
}

.ContentBoxList {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-evenly;
}

.ContentBoxList > :last-child:nth-child(odd) {
	grid-column: 1 / -1;
	justify-self: center;
}

#ContentBox_Top {
	width: 100%;
	height: auto;
	max-width: 900px;

	margin-bottom: 50px;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 30px;
	text-align: center;
}

.ContentBox {
	width: 500px;

	display: flex;
	flex-direction: column;

	padding: 10px;
	margin: 10px;

	background-color: var(--ContentBoxBackground);
	border-radius: 25px;

	box-shadow: 10px 10px 20px black;
}

.ContentBoxTitle {
	padding: 8px;
	text-align: center;

	border-bottom: 2px solid white;
	margin-bottom: 15px;
	font-size: 28px;

	text-transform: uppercase;
}

.CenterBox {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ContentBoxImage {
	width: 100%;
}

#OpeningsTable {
	display: grid;
	grid-template-columns: 1fr 10px 1fr;
}

.OpeningsTableItem {
	text-align: center;
	text-wrap: nowrap;

	font-size: 25px;
	margin-bottom: 10px;
}

.Note {
	width: 100%;
	display: flex;
	justify-content: center;

	margin-top: 20px;
	font-size: 20px;
}

.NoteButton {
	align-self: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 375px) {
	.OpeningsTableItem {
		text-wrap: wrap;
	}
}

@media screen and (max-width: 775px) {
	main {
		padding-left: 5px;
		padding-right: 5px;
	}

	.ContentBox {
		width: 100%;
	}
}

@media screen and (max-width: 1260px) {
	main {
		padding-left: 5px;
		padding-right: 5px;
	}

	.ContentBoxList {
		display: flex;
		flex-wrap: wrap;
	}

	.ContentBoxList > :last-child:nth-child(odd) {
		grid-column: 1 / -1;
		justify-self: unset;
	}
}
