@font-face {
  font-family: "Space Bd Bt";
  src: url(images/Fonts/Space_Bd_BT_Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Bd Bt";
  src: url(images/Fonts/Space_Bd_BT_Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;

  background-color: #222;
  background-image: URL("Images/grunge-texture-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;

  color: white;
  font-family: "Space Bd Bt", Arial, Helvetica, sans-serif;
}
