@font-face {
	font-family: "Space Bd Bt";
	src: url("Resources/Space_Bd_BT_Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Space Bd Bt";
	src: url("Resources/Space_Bd_BT_Bold.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	/* --ContentBoxBackground: #444; */
	--ContentBoxBackground: rgba(44, 44, 44, 0.85);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	position: relative;

	height: 100%;
	min-height: 100vh;

	background-color: #111;
	background-image: url("Resources/Background.png");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0fr 1fr 0fr;

	font-family: "Space Bd Bt", Arial, Helvetica, sans-serif;
	color: white;
}

.FB_Box {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding-top: 10px;
	padding-bottom: 10px;
}

.Button_Metal {
	background: none;
	border: none;
	color: inherit;
	font: inherit;

	background: url("Resources/Background.png");
	background-position: center;
	background-size: 500%;

	margin: 10px;
	padding: 10px;
	border: 2px solid #888;
	border-radius: 10px;

	box-shadow: 0px 5px 5px black;
}

.Button_Metal:hover {
	cursor: pointer;
	transform: scale(105%);
}

.Button_Book {
	text-decoration: none;
	color: inherit;

	background-color: #238636;
	border-radius: 0.375rem;
	cursor: pointer;

	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;

	font-size: 20px;

	text-align: center;
	white-space: nowrap;
}

.Button_Book:hover {
	background-color: #29903b;
}

