main {
	max-width: 2000px;
	justify-self: center;

	display: flex;
	flex-direction: column;
}

.PriceBoxList {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	justify-content: center;
}

.PriceBox {
	max-width: 600px;

	padding: 10px;
	margin: 10px;

	background-color: var(--ContentBoxBackground);
	border-radius: 25px;

	box-shadow: 10px 10px 20px black;

	display: grid;
	grid-template-columns: 1fr 1fr;
}

.PriceBoxSimple {
	min-width: 400px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.PriceBoxTitle {
	grid-column: 1/3;
	width: 100%;

	font-size: 24px;
	text-align: center;

	margin-bottom: 10px;
}

.InfoBox {
	flex: 1 1 100%;
	max-width: 100%;
	height: auto;

	font-family: Arial, Helvetica, sans-serif;

	display: flex;
	justify-content: center;
}

.InfoContent {
	max-width: 800px;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding-left: 10%;
	padding-right: 10%;

	text-align: center;
}

.PB_Left {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px;
	padding: 5px;
}

.PB_Image {
	width: 100%;
	max-width: 200px;
	/* height: 100%; */
	aspect-ratio: 1/1;

	border-radius: 50%;
}

.PB_Right {
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.PB_Text {
	padding-bottom: 10px;
}

.PB_Date {
	font-size: 20px;
}

.PB_Time {
}

.PB_Price {
	font-size: 22px;
}

.PB_Note {
	font-size: 14px;
	text-align: center;
}

@media screen and (max-width: 775px) {
	.PriceBox {
		width: 100%;
	}
	.PriceBoxSimple {
		min-width: unset;
	}
}
